Importando Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from datetime import datetime, timedelta
import random
from scipy.stats import norm

import json
import os                       # Libreria para manejo de arhivos y directorios del sistema
import glob                     # crear listas de archivos a partir de b√∫squedas con comodines en un directorio
import pyarrow as pa
import jsonlines                # Permite procesar un registro por vez
import pyarrow.parquet as pq    # Permite leer archivos en formato parquet
import pickle5 as pickle        # Permite leer archivos con formatp pkl, para archivos version 5

Funcion que permite buscar archivos en un directorio segun un filtro deseado

In [2]:
# Recibe el directorio a trabajar y el patron o filtro que se desea mostrar.

def listar_archivos_segun_patron_con_directorio(directorio, patron):
    return glob.glob(directorio + patron)

- - -
`Datasets: checkin - Cargando los archivos parquet reducidos como un Dataframe`

In [3]:
directorio = "../Datasets/Datasets_Yelp/checkin/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "checkin-reducido_*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_checkin = pq.read_table(source=archivo)   # Se crea una tabla con cada archivo
    df = tabla_checkin.to_pandas()                  # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_checkin_reducido_concatenado = pd.concat(df_list)# Se concatenan todos los DataFrames en uno solo
df_checkin_reducido_concatenado = df_checkin_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [4]:
df_checkin_reducido_concatenado.head().T

,0,1,2,3,4
business_id,---kPU91CF4Lq2-WlRu9Lw,--0iUa4sNDFiZFrAdIWhZQ,--30_8IhuyMHbSOcNWd6DQ,--7PUidqRWpRSpXebiyxTg,--7jw19RH9JKXgFohspgQw
date,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...","2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...","2013-06-14 23:29:17, 2014-08-13 23:20:22","2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...","2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."

- - -
`Datasets: tip - Cargando los archivos parquet reducidos como un Dataframe`

In [5]:
directorio = "../Datasets/Datasets_Yelp/tip/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "tip-reducido*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_review = pq.read_table(source=archivo)    # Se crea una tabla con cada archivo
    df = tabla_review.to_pandas()                   # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_tip_reducido_concatenado = pd.concat(df_list) # Se concatenan todos los DataFrames en uno solo
df_tip_reducido_concatenado = df_tip_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [6]:
df_tip_reducido_concatenado.head().T

,0,1,2,3,4
user_id,1viszljzsa8W7VnYPuWosw,YnlCpuaBa3qWBp4te8pGmA,XJDLaoN1PerKw2woiKeepA,9M_nk0kA3CTJt6UoxRAK_g,0LY6l9-Z2IrVtnfj6OX06w
business_id,Zg83olSjsdXAhE5EEy5IcQ,XIKYdKWq72zUYsq8NBxcCQ,t0zwddmbOGQOADrAxEPHQQ,oJf3IZloLf_PDeEeZW5nDg,Zmwm6d872C8kWJr4b6UGfg
text,Order crispy and they bake it up good.,The honey glazed salmon is amazing!,Come by for some Jelly Bean sours this weekend!,Meatball sandwich,Great tasty food
date,2018-04-01,2018-01-14,2018-03-31,2018-03-27,2018-04-01
compliment_count,0,0,0,0,0

- - -
`Datasets: review - Cargando los archivos parquet reducidos como un Dataframe`

In [18]:
directorio = "../Datasets/Datasets_Yelp/review/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "review-reducido_*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_review = pq.read_table(source=archivo)    # Se crea una tabla con cada archivo
    df = tabla_review.to_pandas()                   # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_review_reducido_concatenado = pd.concat(df_list) # Se concatenan todos los DataFrames en uno solo
df_review_reducido_concatenado = df_review_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [19]:
df_review_reducido_concatenado.head().T

,0,1,2,3,4
review_id,KU_O5udG6zpxOg-VcAEodg,lUUhg8ltDsUZ9h0xnwY4Dg,JBWZmBy69VMggxj3eYn17Q,E9AB7V4z8xrt2uPF7T55FQ,A4n4YaE-owOVgTQcrVqHUw
user_id,mh_-eMZ6K5RLWhZyISBhwA,RreNy--tOmXMl1en0wiBOg,aFa96pz67TwOFu4Weq5Agg,iYY5Ii1LGpZCpXFkHlMefw,S7bjj-L07JuRr-tpX1UZLw
business_id,XQfwVwDr-v0ZS3_CbbE5Xw,cPepkJeRMtHapc_b2Oe_dw,kq5Ghhh14r-eCxlVmlyd8w,Zx7n8mdt8OzLRXVzolXNhQ,I6L0Zxi5Ww0zEWSAVgngeQ
stars,3,4,5,5,4
useful,0,1,0,0,0
funny,0,0,0,0,0
cool,0,1,0,0,0
text,"If you decide to eat here, just be aware it is...",I was really between 3 and 4 stars for this on...,My boyfriend and I tried this deli for the fir...,Amazing biscuits and (fill in the blank). Grea...,The cafe was extremely cute. We came at 8am an...
date,2018-07-07,2018-07-17,2018-08-23,2018-04-27,2018-07-07

- - -
`Datasets: user - Cargando los archivos parquet reducidos como un Dataframe`

In [3]:
directorio = "../Datasets/Datasets_Yelp/user/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "user-reducido_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_user_reducido_concatenado = pd.concat(df_list)                                   # Se concatenan todos los DataFrames en uno solo
df_user_reducido_concatenado = df_user_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [4]:
df_user_reducido_concatenado.head().T

,0,1,2,3,4
user_id,RDlBwvQe5oEQ8STtj6a5rg,wZ5mQSbZR5UpGpnddGT7mw,Oj8Ohm_2OlV6hjKMsQn69w,LRjvkbcZ5S4efH0xAVfkxw,705syU_EmyN_hnlnmYy3nQ
name,Dee,Odalis,Emily,Maggie,Ella
review_count,4,178,2,1,2
yelping_since,2018-11-06,2018-04-15,2018-07-01,2018-09-08,2018-03-13
useful,5,542,1,2,1
funny,0,95,0,0,0
cool,2,429,0,0,0
elite,,"2018,2019,20,20,2021",,,
friends,"FrLfQoTXb7k68ZqBQTHSew, 88wN6ysc8Z1LSgaa-Au2MA...","zGAGITTaxhi2J14604F_iA, WoMHyzfYFI8juti3DbaIvg...","YQhTRxurCw9uNe3stFyHHA, XUbfn0nkZgcsLixJJ_2WKQ...","VNHx2MZANbDBZml5eNMP2g, 5CmrzlkGIglc5A-4b4S8Ig...","Ow2zUmCxcyOMd0ulTM30Zw, BkrImxMimcTtwNBC4NwZyQ..."
fans,0,22,0,0,0
average_stars,4,4.16,1.5,5,3.5
compliment_hot,0,3,0,0,0
compliment_more,0,3,0,0,0
compliment_profile,0,0,0,0,0
compliment_cute,0,0,0,0,0
compliment_list,0,0,0,0,0
compliment_note,0,21,0,0,0
compliment_plain,0,29,0,0,0
compliment_cool,0,33,0,0,0
compliment_funny,0,33,0,0,0
compliment_writer,0,21,0,0,0
compliment_photos,0,26,0,0,0

- - -
`Datasets: business - Cargando los archivos parquet reducidos como un Dataframe`

In [4]:
directorio = "../Datasets/Datasets_Yelp/business/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "business*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_business_concatenado = pd.concat(df_list)    # Se concatenan todos los DataFrames en uno solo
df_business_concatenado = df_business_concatenado.reset_index(drop=True)    # Se resetea el indice a uno secuencial y consecutivo

In [5]:
df_business_concatenado.head().T

,0,1,2,3,4
business_id,MTSW4McQd7CbVtyjqoe9mw,mWMc6_wTdE0EUBKIGXDVfA,CF33F8-E6oudUQ46HnavjQ,n_0UpQx1hsNbnPUSlodU8w,qkRM_2X51Yqxk3btlwAQIg
name,St Honore Pastries,Perkiomen Valley Brewery,Sonic Drive-In,Famous Footwear,Temple Beth-El
address,935 Race St,101 Walnut St,615 S Main St,"8522 Eager Road, Dierbergs Brentwood Point",400 Pasadena Ave S
city,Philadelphia,Green Lane,Ashland City,Brentwood,St. Petersburg
state,CA,MO,AZ,PA,PA
postal_code,19107,18054,37015,63144,33707
latitude,39.9555,40.3382,36.2696,38.6277,27.7666
longitude,-75.1556,-75.4717,-87.0589,-90.3405,-82.733
stars,4,4.5,2,2.5,3.5
review_count,80,13,6,13,5
is_open,1,1,1,1,1
attributes,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","{'BusinessParking': 'None', 'BusinessAcceptsCr...","{'BusinessAcceptsCreditCards': 'True', 'Restau...",None
categories,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","Brewpubs, Breweries, Food","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","Sporting Goods, Fashion, Shoe Stores, Shopping...","Synagogues, Religious Organizations"
hours,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."

- - -
`Datasets: metadata-sitios - Cargando los archivos parquet reducidos como un Dataframe`

In [12]:
archivo = "../Datasets/Datasets_Google_Maps/metadata-sitios/metadata-sitios_reducido.parquet"
tabla_sitios = pq.read_table(source=archivo)                      # Se crea una tabla con cada archivo
df_sitios = tabla_sitios.to_pandas()                              # Se transforma la tabla en un dataframe

In [13]:
df_sitios.head().T

,0,1,2,3,4
name,Turkey Creek,Shelter Insurance - Nathan Mizer,Flat Creek,Hurricane Branch,Autism Tennessee
address,"Turkey Creek, Tennessee","Shelter Insurance - Nathan Mizer, 107A W Tenne...","Flat Creek, Tennessee 37878","Hurricane Branch, Tennessee 37882","Autism Tennessee, 2607 Winford Ave, Nashville,..."
gmap_id,0x8864a58f0058d779:0x77f0f0f82ba4920e,0x885c336f4bd36d55:0x480c0e91ddfd240d,0x885ea23c1631d3df:0xeb621b8b97f25df6,0x885ea154ea071f21:0x1a1ec761c433c2a7,0x886467cd4482dcff:0x636916ab972b869d
description,None,None,None,None,None
latitude,35.9982,36.0263,35.6738,35.677,36.1149
longitude,-87.3895,-84.2434,-83.8942,-83.8577,-86.7533
category,[River],"[Insurance agency, Auto insurance agency, Home...",[River],[River],[Social services organization]
avg_rating,3.8,4.3,5,5,5
num_of_reviews,5,3,4,1,4
price,None,None,None,None,None
hours,None,None,None,None,"[[Thursday, 10AM‚Äì3PM], [Friday, 10AM‚Äì3PM], [Sa..."
MISC,None,{'Accessibility': ['Wheelchair accessible entr...,None,None,{'Accessibility': ['Wheelchair accessible entr...
state,None,None,None,None,Closed ‚ãÖ Opens 10AM
relative_results,None,"[0x885c336fe87d6049:0x12141fa4a69f85f5, 0x885c...",None,None,"[0x8864657265da0d5f:0x8b83c74c7fb3b1a6, 0x8864..."
url,https://www.google.com/maps/place/Tennessee/da...,https://www.google.com/maps/place//data=!4m2!3...,https://www.google.com/maps/place/Tennessee+37...,https://www.google.com/maps/place/Tennessee+37...,https://www.google.com/maps/place//data=!4m2!3...

- - -
`Datasets: metadata-estados - Cargando los archivos parquet reducidos como un Dataframe`

In [3]:
directorio_origen = "../Datasets/Datasets_Google_Maps/reviews-estados/"    # Debido a la cantidad de directorios y archivos se permitira tener separados los archivos de origen.
directorios_reviews_estados = os.listdir(directorio_origen)                # Se obtiene un listado de todos los subdirectorios del directorio origen.
for sub_dir in directorios_reviews_estados:                                # Ciclo por cada subdirectorio
    nombre_archivo = sub_dir.replace("review-", '')
    archivos_reviews_estados = os.listdir(directorio_origen + sub_dir)     # Se guarda el directorio y el subdirectorio a utilizar
    directorio = directorio_origen + sub_dir + "/"
    ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "*.parquet")
    df_list = []                                                            # Un dataframe vacio para ir adicionando
    for archivo in ls_archivo:                                              # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
        # print(directorio, nombre_archivo)
        # print(ls_archivo)
        tabla_estados = pq.read_table(source=archivo)                       # Se crea una tabla con cada archivo
        df = tabla_estados.to_pandas()                                      # Se transforma la tabla en un dataframe
        # df['estado'] = nombre_archivo
        df_list.append(df)                                                  # Se adicionan a los dataframe
    df_estados_concatenado = pd.concat(df_list)                             # Se concatenan todos los DataFrames en uno solo
    df['estado'] = nombre_archivo
df_estados_concatenado = df_estados_concatenado.reset_index(drop=True)      # Se resetea el indice a uno secuencial y consecutivo

In [4]:
df_estados_concatenado.head().T

,0,1,2,3,4
user_id,101471856155148729010,115477234789038326051,101805010244892834381,106344422881493743981,100875113069561776529
name,Julie A. Gerber,Martin Sheffield,Brian Truett,Tina Sun,James Haynes
time,1628003250740,1595031217005,1522924253567,1467907819586,1480683415081
rating,1,5,5,1,5
text,Update: Their ‚Äúreply‚Äù to my review amounted to...,He's a knowledgeable doctor but the way he run...,"Best doctor I've ever had, I never wait to be ...",I was told he is a good doctor. I was trying t...,Takes the time to actually get to know his pat...
pics,None,None,None,None,None
resp,{'text': 'Thank you for the feedback. We would...,{'text': 'Thank you for reaching out. I‚Äôm forw...,None,None,None
gmap_id,0x8893863ea87bd5dd:0x9383ebf973e74abb,0x8893863ea87bd5dd:0x9383ebf973e74abb,0x8893863ea87bd5dd:0x9383ebf973e74abb,0x8893863ea87bd5dd:0x9383ebf973e74abb,0x8893863ea87bd5dd:0x9383ebf973e74abb